@page
@inherits EasyAbp.Abp.UsingLimiter.Web.Pages.UsingLimiterPage
@model EasyAbp.Abp.UsingLimiter.Web.Pages.UsingLimiter.IndexModel
@{
}
<h1>UsingLimiter</h1>
<p>A sample page for the UsingLimiter module.</p>